<% if logged_in? %>
＞＞homeページからshared/user_infoページへ。
<%= render 'shared/user_info' %>

＞＞homeページからshared/statsページへ。
<%= render 'shared/stats' %>

＞＞homeページからposts/post_formページへ。
<%= render 'posts/post_form' %>

<h3>My Feed</h3>
＞＞homeページからshared/feedページへ。
<%= render 'shared/feed' %>

<% else %>
<%= render 'sessions/landing' %>
<% end %>
