<% if logged_in? %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="post_form">
      <%= render 'shared/post_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Post Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>

<% else %>
<div class="jumbotron jumbotron-fluid">
  <div class="row">
    <div class="container">
        <h1 class="cover-heading">Make your style new.</h1>
        <p class="lead">Free, you can get advices from cool friends all over world.</p>

      <div class="wrap">
        <button class="button1">
          <%= link_to "Sign Up for free", signup_path %>
        </button>
      </div>

      <div class="inner">
        <p>Want to become a stylist? <a href="#">3 steps</a>
          <br> more info here<a href="#"> Docs</a></p>
          <%= link_to image_tag("rails.png", :size => "30x30", alt: "Rails logo"),
          'http://rubyonrails.org/' %>
      </div>
    </div>
  </div>
</div>
<% end %>
