＞＞scomments/_scommentフィードページはじまり。

<div id="scomment-<%= scomment.id %>">
  <%= scomment.content %>
  <%= image_tag scomment.picture.url if scomment.picture? %>
  <%= time_ago_in_words(scomment.created_at) %> ago.
  <p>From.<%= link_to scomment.user.name, scomment.user %></p>
</div>

<%= link_to 'Delete', [scomment.post, scomment], method: :delete, data: { confirm: 'Really delete?' } %>

<!-- お気に入り -->
<div class="ui red button">
  <i class="heart icon"></i><%= link_to "Add Favorites", add_scomment_path(scomment), method: :post, data: { confirm: 'Added to favorites!' } %>
</div>

<%= link_to "UnFavorite",favorite_path, method: :delete, data: { confirm: 'Really delete?' } %>

<!-- 星 -->
<div class="ui red button">
  <i class="heart icon"></i><%= link_to "Star", star_scomment_path(scomment), method: :post, data: { confirm: 'Added to stars!' } %>
</div>

<%= link_to "Unstar",rating_path, method: :delete, data: { confirm: 'Really delete?' } %>


＜＜scomments/_scommentフィードページおわり。
