<div class="bb">
  ＞＞_scomment_formページスタート。

  <h1>Send Styling from here!</h1>

  <%= form_for( [@post, @post.scomments.create] ) do |f| %>

    <%= f.hidden_field :user_id %>

      <div class="ui form">
          <div class="field">
            <label>Content</label>
            <%= f.text_area :content, placeholder: "I suppose styling ...",rows:"2" %>
          </div>
      </div>

      <span class="picture">
        <i class="photo icon"></i>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>

      <%= f.submit "SEND", class: "ui positive basic button" %>

  <% end %>

</div>






<script type="text/javascript">
  $('#scomment_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
