<!-- スタイリングコメント -->
<li id="scomment-<%= scomment.id %>" >

  <span class="content">
  　<%= scomment.content %>
    <%= image_tag scomment.picture.url if scomment.picture? %>
  </span>

  <p class="timestamp">
    <%= time_ago_in_words(scomment.created_at) %> ago.
  </p>

  <p>From.
    <span class="user"><%= link_to scomment.user.name, scomment.user %></span>
  </p>

  <button type="button" class="btn btn-default">
      <%= link_to 'Delete', [scomment.post, scomment], method: :delete, data: { confirm: 'Really delete?' } %>
  </button>


<!-- お気に入り -->
  <button type="button" class="btn btn-default">
      <%= link_to "Favorites", add_scomment_path(scomment), method: :post, data: { confirm: 'Added to favorites!' } %>
  </button>

  <button type="button" class="btn btn-default">
      <%= link_to "UnFavorite",favorite_path, method: :delete, data: { confirm: 'Really delete?' } %>
  </button>

<!-- 星の評価 -->
  <div id="star_rank"></div>
    <!-- target数字hint -->
  <div id="hint"></div>

</li>





<!-- 星の評価の動き -->
    <script type="text/javascript">
      <!--
      $(function(){
        $('#star_rank').raty({
          starOff  : '<%= asset_path('star-off.png') %>',
          starOn   : '<%= asset_path('star-on.png') %>',
          target    : '#hint',
          targetType: 'number',
          targetKeep: true,
        click: function(score, evt) {
    //	      alert('ID: ' + $(this).attr('id') + "\nscore: " + score + "\nevent: " + evt); //選択時に要素をアラート
          $("#star_rank_score").val(score);
        }
      });
      });
      //-->
      </script>
