＞＞scomments/_scommentページはじまり。
<% @user ||= current_user %>
<div id="scomment-<%= scomment.id %>">
  <div class="ui card">
    <div class="content">
      <span id="scomment_<%= scomment.id %>">
        <%= render 'favorites/favorite_btn', scomment: scomment %>
      </span>
      <span id="scomment_<%= scomment.id %>">
      <%= render 'ratings/rating_btn', scomment: scomment %>
      </span>
      <a class="avatar">
        <%= gravatar_for scomment.user, size: 50 %>
      </a>
      <div class="header"><%= link_to scomment.user.name, scomment.user %></div>
      <div class="description">
        <p><%= scomment.content %></p>
      </div>
      <div class="extra images">
        <a><%= image_tag scomment.picture.url if scomment.picture? %></a>
      </div>
      <div class="metadata">
        <span class="date"><%= time_ago_in_words(scomment.created_at) %> ago.</span>
      </div>
      <% if current_user?(scomment.user) %>
      <button class="ui inverted red button">
        <%= link_to "delete", scomment, method: :delete,
                                         data: { confirm: "You sure?" },
                                         title: scomment.content %>
      </button>
      <% end %>
    </div>
  </div>
