＞＞scomments/_scommentページはじまり。
<% @user ||= current_user %>
<div id="scomment-<%= scomment.id %>">
  <div class="ui card">
    <div class="content">
      <i class="right floated like icon"></i>
      <a class="avatar">
        <%= gravatar_for scomment.user, size: 50 %>
      </a>
      <div class="header"><%= link_to scomment.user.name, scomment.user %></div>
      <div class="description">
        <p><%= scomment.content %></p>
      </div>
      <div class="extra images">
        <a><%= image_tag scomment.picture.url if scomment.picture? %></a>
      </div>
      <div class="metadata">
        <span class="date"><%= time_ago_in_words(scomment.created_at) %> ago.</span>
      </div>
      <button class="ui inverted red button">
        <%= link_to 'このコメントを消す', scomment_path(scomment), method: :delete, data: { confirm: 'Really delete?' } %>
      </button>
    </div>
  </div>

<!-- お気に入り -->
<button class="ui black basic button">
<%= link_to "Add Favorites", favorites_path(favorite: {user_id: current_user.id, scomment_id: scomment.id }), method: :post %>
</button>

<button class="ui black basic button">
<%= link_to "UnFavorite", favorite_path, method: :delete %>
</button>

<!-- 星 -->
<button class="ui black basic button">
<%= link_to "Star.1", ratings_path(rating: {scomment_user: scomment.user.id, star: '1', scomment_id: scomment.id }), method: :post %>
</button>
<button class="ui black basic button">
<%= link_to "Star.2", ratings_path(rating: {scomment_user: scomment.user.id, star: '2', scomment_id: scomment.id }), method: :post %>
</button>
<button class="ui black basic button">
<%= link_to "Star.3", ratings_path(rating: {scomment_user: scomment.user.id, star: '3', scomment_id: scomment.id }), method: :post %>
</button>
<button class="ui black basic button">
<%= link_to "Star.4", ratings_path(rating: {scomment_user: scomment.user.id, star: '4', scomment_id: scomment.id }), method: :post %>
</button>
<button class="ui black basic button">
<%= link_to "Star.5", ratings_path(rating: {scomment_user: scomment.user.id, star: '5', scomment_id: scomment.id }), method: :post %>
</button>

<button class="ui black basic button">
<%= link_to "Unstar",rating_path, method: :delete, data: { confirm: 'Really delete?' } %>
</button>
