<h1>Styling List</h1>
<p> - All Stylings you got.</p>


<% @scomments.each do |scomment| %>

<h4>From
  <a class="author">
    <%= scomment.user.name %>
  </a>
  <a class="avatar">
    <%= link_to gravatar_for(scomment.user, size: 30) %>
  </a>
</h4>
  <!-- 報告 -->

      <div class="ui simple dropdown item">
        <i class="configure icon"></i>
        <div class="menu">
          <div class="item">
            #URLへジャンプする
          </div>
          <div class="item">
            #シェアする
          </div>
          <div class="item">
            #違反報告する
          </div>

          <div class="divider"></div>

          <% if current_user?(scomment.user) %>
            <div class="item">
              <%= link_to "Delete this styling", scomment, method: :delete, data: { confirm: "You sure?" }, title: scomment.content %>
            </div>
          <% end %>

        </div>
      </div>



    <div class="ui card">
      <%= image_tag scomment.picture.url if scomment.picture? %>
    </div>

    <div class="ui segment">
      <%= scomment.content %>
    </div>

    <div class="date">
      <%= time_ago_in_words(scomment.created_at) %> ago
    </div>
    <!-- お気に入り、星ボタン -->
    <span id="scomment_<%= scomment.id %>">
      <%= render 'favorites/favorite_btn', scomment: scomment %>
    </span>
    <span id="scomment_<%= scomment.id %>">
    <%= render 'ratings/rating_btn', scomment: scomment %>
    </span>

<% end %>

<div class="ui divider"></div>
