＞＞users/_userページはじまり。

<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>

  <button class="ui green basic button">
    <a href="<%= posts_path(@user) %>">See My Posts</a>
  </button>

  <% if user.stylist? %>
    <button class="ui red basic button">
      <%= link_to "See My StylingBook", user %>
    </button>
  <% end %>

  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>

</li>

＜＜users/_userページおわり。
