＞＞users/_userページはじまり。

<div class="ui feed">

  <div class="event">
    <div class="label">
      <%= gravatar_for user, size: 50 %>
    </div>
    <%= link_to user.name, user %>
  </div>

  <div class="event">
    <span><%= user.bio %></span>
  </div>


  <% if user.stylist? %>
  <span>StylingBook</span>
    <button class="ui red basic button">
      <i class="book icon"></i>
      <%= link_to "", user %>
    </button>
  <% end %>

  <% if current_user.admin? && !current_user?(user) %>
  <button class="ui basic button">
  <i class="remove user icon"></i>
     <%= link_to "UnFollow", user, method: :delete, data: { confirm: "Really unfollow this user?" } %>
  <% end %>
</button>

<div class="ui divider"></div>

</div>
