<h1>Edit profile</h1>

<div class="gravatar_edit">
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">change</a>
</div>

<div class="ui form">

<%= form_for(@user, html: { multipart: true }) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

<!-- スタイリスト,チェックボックス-->
<div class="grouped inline fields">
  <div class="field">
    <%= f.radio_button :stylist, true, class: 'ui radio checkbox' %> Become stylist
  </div>
  <div class="field">
    <%= f.radio_button :stylist, false, class: 'ui radio checkbox' %> Quit stylist
  </div>
</div>

<p><%= link_to "Upgrade Stylist status.", stylists_path %></p>

<!-- More /アコーディオン/ 必ずulは入れること（custom.css操作）-->

    <div class="acodmenu">
        <label for="Panel20">
          <div class="active title">
            <i class="dropdown icon"></i>
            Set More
          </div>
        </label>
        <input type="checkbox" id="Panel20" class="on-off" />
        <ul>

          <!-- URL -->
          <div class="ui labeled input">
            <div class="ui label">
              http://
            </div>
            <input type="text" placeholder="mysite.com">
          </div>

          <!-- country -->
          <div class="ui labeled input">
            <div class="ui label">
              country
            </div>
            <input type="text" placeholder="mysite.com">
          </div>

          <!-- gender -->
          <div class="ui labeled input">
            <div class="ui label">
              gender
            </div>
            <input type="text" placeholder="mysite.com">
          </div>

          <!-- Free text (showed on profile. eg: favorites) -->
          <div class="ui labeled input">
            <div class="ui label">
              Free text
            </div>
            <input type="text" placeholder="mysite.com">
          </div>

        </ul>
    </div>


<!-- submit -->
<div class="field">
  <%= f.submit "Save changes", class: "ui blue basic button" %>
</div>

<% end %>


</div>
