＞＞users/editページはじまり。

<h1>Edit profile</h1>

<div class="gravatar_edit">
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">change</a>
</div>

<div class="ui form">

<%= form_for(@user, html: { multipart: true }) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <%= f.submit "Save changes", class: "ui button" %>

<% end %>

</div>



<!-- 必ずulは入れること（custom.cssにて操作）-->
    <div class="acodmenu">
        <label for="Panel20">
          <div class="active title">
            <i class="dropdown icon"></i>
            More Details
          </div>
        </label>
        <input type="checkbox" id="Panel20" class="on-off" />
        <ul>
          <div class="ui labeled input">
            <div class="ui label">
              http://
            </div>
            <input type="text" placeholder="mysite.com">
          </div>
        </ul>
    </div>
