＞＞users/indexページはじまり。

<!-- 検索 -->
  <!-- 性別は、select_tagメソッドを使用してセレクトボックス作成。
  User.gendersと記述することで、unknown, male, female, otherとそれぞれの値が取得できる。
  User.genders というのはUserというModelに定義されたgenderというenum( 列挙型 )のキーと値を全て配列で取得する。
  enumの値を全て取得する場合は、定義したenum名の複数形にします。
  include_blankをtrueと指定することで初期値がブランクに。 -->
<h1><i class="circular search link icon"></i>Find Users</h1>

<!-- form_tagはModelに基づかない場合に使用します( 主に検索 )。 form_forはModelに基づく場合に使用します( 主に更新や新規作成の場合 )。-->
<div>
  <%= form_tag(users_path, method: "get") do %>

    <div class="ui input">

      <%= label_tag :name, "NAME" %>
      <%= text_field_tag :name, params[:name] %>
    </div>


    <%= label_tag :name, "GENDER" %>
    <%= select_tag :gender, options_for_select(User.genders), include_blank: true %>


    <%= label_tag :country, "COUNTRY" %>
    <%= select_tag :country, options_for_select(User.countries), include_blank: true %>


    <%= submit_tag "Search!", class: "ui button" %>
    ここにクリアボタンもつくる。
  <% end %>
</div>


<!-- 全ユーザー表示 -->
<% provide(:title, 'Users') %>
<h1>All users</h1>
<ul class="users">
  <%= render @users %>
</ul>

<!-- ページネーション -->
<div class="ui pagination menu">
        <a class="icon item">
          <i class="left chevron icon"></i>
        </a>
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>
        <a class="item">4</a>
        <a class="icon item">
          <i class="right chevron icon"></i>
        </a>
      </div>
