＞＞users/newページはじまり

<h1>Sign up</h1>


Free, you can get advices from cool friends all over world.
<p>Want to become a stylist? <a href="#">3 steps</a>
<br> more info here<a href="#"> Docs</a></p>


<div class="ui form">
  <%= form_for(@user) do |f| %>



    <div class="field">
      <%= render 'shared/error_messages', object: f.object %>
      <label>Name</label>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="field">
      <label>E-mail</label>
      <%= f.email_field :email, class: 'form-control', placeholder: "joe@schmoe.com"  %>
    </div>

    <div class="field">
      <label>Password</label>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="field">
      <label>Password Confirmation</label>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <%= f.submit "Submit", class: "ui button" %>



  <% end %>
</div>
This site uses cookies to store your preferences for site-specific language and display options.
