<title>Sign Up | Stylatte</title>　　

<!-- Folder; static_pages, File; home.en.html.erb -->　

<!--............Copyright.................　　
Copyright 2016, Stylatte.
.....................-->

<!--*******SUMARRY OF THIS FILE***************

[1]
[2]

**************************-->


Free, you can get advices from cool friends all over world.
<p>Info here.<%= link_to "FAQ", help_path %></p>
<p>Want to become a stylist too? Here is the docs.<%= link_to "How to become a stylist", styliststart_path %></p>

<h1>Sign up</h1>

<div class="ui form">
  <%= form_for(@user) do |f| %>



    <div class="field">
      <%= render 'shared/error_messages', object: f.object %>
      <label>Name</label>
      <%= f.text_field :name, class: 'form-control' %>
      <p>You can use nickname here, which is shown to other users and can be changed afterward on EditPage.</p>
      <p>Username is publicly displayed. You can use Nickname here. And you can change later.</p>

    </div>

    <div class="field">
      <label>E-mail</label>
      <%= f.email_field :email, class: 'form-control', placeholder: "joe@schmoe.com"  %>
      <p> Your email address is kept private, and will be used for account-related notifications (e.g. account changes and billing receipts) as well as any web-based GitHub operations (e.g. edits and merges).

    </div>

    <div class="field">
      <label>Password</label>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="field">
      <label>Password Confirmation</label>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <%= f.submit "Submit", class: "ui button" %>



  <% end %>
</div>
<p>I understand <%= link_to "Private Policy", policy_path %></p>
<p>We store your personal data in the United States. See our privacy policy for more information.</p>
This site uses cookies to store your preferences for site-specific language and display options.




<!-- +......NOTE.....+

+ 

+...........+-->
