＞＞users/newページはじまり

<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
Free, you can get advices from cool friends all over world.
<p>Want to become a stylist? <a href="#">3 steps</a>
<br> more info here<a href="#"> Docs</a></p>

<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %>

<%= f.label :email %>
<%= f.email_field :email, class: 'form-control' %>

<%= f.label :password %>
<%= f.password_field :password, class: 'form-control' %>

<%= f.label :password_confirmation, "Confirmation" %>
<%= f.password_field :password_confirmation, class: 'form-control' %>

<%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>

＜＜users/newページおわり
