＞＞users/show_favoriteページはじまり（usersコントローラーのfavoriteより）

<!-- usersコントローラーのfavoriteメソッドより -->

<% provide(:title, @title) %>

<%= gravatar_for @user %>
<h1><%= @user.name %></h1>

<%= render 'shared/stats' %>

<h3><%= @title %></h3>
<% if @users.any? %>
<ul class="users follow">
  <%= render @users %>
</ul>

<% end %>
