＞＞users/showページはじまり。
<% provide(:title, @user.name) %>

<%= gravatar_for @user %>
<%= @user.name %>

<%= render 'shared/stats' %>

<%= render 'scomments/got_scomments' %>
<%= render 'follow_form' if logged_in? %>

<% if @user.posts.any? %>
<h3>Posts (<%= @user.posts.count %>)</h3>
<ol class="posts">
  <%= render @posts %>
</ol>

<% end %>

<% if @user.stylist? %>
<h2>This is My StylingBook!</h2>
<% end %>
＜＜user/showページおわり。
