<div class="ui segment">

<button class="ui orange basic button"><%= link_to "English", users_path %></button>
<button class="ui orange basic button"><%= link_to "日本語", users_path %></button>

<button class="ui orange basic button"><%= link_to "About", about_path %></button>
<button class="ui orange basic button"><%= link_to "Contact", contact_path %></button>
<button class="ui orange basic button"><%= link_to "Private Policy", users_path %></button>
<button class="ui orange basic button"><%= link_to "About Stylist", stylists_path %></button>
<button class="ui orange basic button"><%= link_to "Share on SNS", about_path %></button>

copylight.

</div>
