<div class="ui vertical divided footer segment">
<div class="ui divider"></div>
  <div class="ui container">

    <div class="ui stackable divided equal height stackable grid">


      <div class="eight wide column">
        <h4 class="ui header">About</h4>
        <div class="ui link list"><br>
          <%= link_to "Stylist Plans", stylists_path %><br>
          <%= link_to "Help", help_path %><i class="help icon"></i><br>
          <%= link_to "Stylatte SNS", about_path %><i class="facebook icon"></i><i class="twitter icon"></i>
        </div>
        <!-- 言語選択 -->

      </div>

      <div class="eight wide column">
        <h4 class="ui header">About</h4>

        <div class="ui link list">
          <%= link_to "Company", about_path %><br>
          <%= link_to "Terms and Conditions", users_path %><br>
          <%= link_to "Private Policy", policy_path %><br>

        </div>
        <!-- コピーライト -->
        <p>Copyright © 2016 Stylatte. All rights reserved.</p>

        <!-- 管理者への入り口 -->
        <div class="ui inverted link list">
          <button class="ui red basic button"><%= link_to "Admin", admin_path %></button>
        </div>
      </div>

    </div>


  </div>
</div>










</div>
