<div class="ui vertical divided footer segment">
<div class="ui divider"></div>
  <div class="ui container">

    <div class="ui stackable divided equal height stackable grid">


      <div class="eight wide column">
        <h4 class="ui header">スタイラッテについて</h4>
        <div class="ui link list">
          <%= link_to "ヘルプ", help_path %><br>
          <%= link_to "スタイリストになりますか?", styliststart_path %><br>
          <%= link_to "スタイリスト分析", stylistanalysis_path %><br>
          ソーシャルネットワーク /
          <i class="facebook icon"></i><a href="https://www.facebook.com/Stylatte-335151873516229/" target="_blank">フェイスブック</a>
          <i class="twitter icon"></i><a href="https://twitter.com/stylatte2016" target="_blank">ツィッター</a><br>
        </div>

        <!-- 言語選択 -->
        <%= link_to_if params[:locale].present?, '日本語',  url_for(controller: controller.controller_name, action: controller.action_name, locale: 'ja') %> |
        <%= link_to_if params[:locale] != 'en',  'English',  url_for(controller: controller.controller_name, action: controller.action_name, locale: 'en') %>

      </div>

      <div class="eight wide column">
        <h4 class="ui header"></h4>
        <div class="ui link list">
          <%= link_to "運営会社", about_path %><br>
          <%= link_to "Terms and Conditions", terms_path %><br>
          <%= link_to "プライベートポリシー", policy_path %><br>
        </div>
        <!-- コピーライト -->
        <p>Copyright © 2016 Stylatte. All rights reserved.</p>
      </div>

    </div>


  </div>
</div>










</div>
