<div class="ui header">
<div class="ui container menu">

<!-- Home -->
  <div class="item">
    <%= link_to "STYLATTE", root_path %>
  </div>

<!-- ログイン前 -->
  <div class="item">
    <% if logged_in? %>
    Welcome! <%= current_user.name %>
    <% else %>
    <div class="item">
      <button class="ui green basic button"><%= link_to "Log in", login_path %></button>
      <button class="ui blue basic button"><%= link_to "Sign up", signup_path %></button>
    </div>
    <% end %>
  </div>




<!-- ログイン中 -->
  <div class="right menu">

  <% @user ||= current_user %>
  <% if logged_in? %>
  <%= link_to gravatar_for(current_user, size: 50), current_user %>
    <div class="ui simple dropdown item">
      <div class="text">Menu</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item"><%= link_to "Post New", new_post_path %></div>
        <div class="item"><%= link_to "My Posts Index", posts_path %></div>
        <div class="item"><%= link_to "Got Stylings", got_path %></div>
        <div class="item"><i class="heart icon"></i><%= link_to "My favorites", favorites_path(current_user) %></div>
        <div class="item">
          <i class="dropdown icon"></i>
          <i class="user icon"></i>Users
          <div class="menu">
            <div class="item"><%= @user.following.count %><%= link_to "Following", following_user_path(current_user) %></div>
            <div class="item"><%= @user.followers.count %><%= link_to "Followers", followers_user_path(current_user) %></div>
            <div class="item"><%= link_to "Find Users", users_path %></div>
          </div>
        </div>
  <% end %>

<!-- スタイリストなら -->
  <% if logged_in? && current_user.stylist? %>
    <div class="divider"></div>
    <div class="item"><%= link_to "Sent Stylings", sent_path %></div>
    <div class="item"><%= link_to "Send Styling", start_path %></div>
    <div class="divider"></div>
    <div class="item"><%= link_to "Upgrade Stylist", stylists_path %></div>
    <div class="item">
      <!-- 星の合計と平均 -->
      <i class="dropdown icon"></i>
      <i class="star icon"></i>Status
      <div class="menu">
        <div class="item">Sum<i class="star icon"></i><%= @total_rating %></div>
        <div class="item">Average<i class="star icon"></i><%= @average_rating %></div>
        <div class="item"><i class="bar chart icon"></i><%= link_to "Analitics", edit_user_path(current_user) %></div>
      </div>
    </div>
  <% end %>

<!-- ログイン中 -->
        <div class="divider"></div>
        <% if logged_in? %>
        <div class="item"><%= link_to "Edit profile", edit_user_path(current_user) %></div>
        <div class="item"><%= link_to "Log out", logout_path, method: "delete" %></div>
        <% end %>

        <div class="divider"></div>

        <div class="item">
          <i class="help icon"></i>
          <%= link_to "Help", help_path %>
        </div>

      </div>
    </div>



  </div>
</div>

</div>
