<div class="ui segment">
<%= link_to "Stylatte", root_path, id: "logo" %>

<%= link_to "Ask a new styling", new_post_path %>
<% if logged_in? && current_user.stylist? %>
<%= link_to "Post a Styling", new_post_path %>
<% else %>
<%= link_to "Become a Stylist", stylists_path %>
<% end %>

<%= link_to "Find Users", users_path %>
<%= link_to "Home", root_path %>
<%= link_to "Docs", help_path %>

<% if logged_in? %>
<%= link_to current_user.name, users_path %>
<%= link_to "Edit profile", edit_user_path(current_user) %>
<%= link_to "Log out", logout_path, method: "delete" %>
<%= link_to gravatar_for(current_user, size: 50), current_user %>
<% else %>
<%= link_to "Log in", login_path %>
<% end %>
</div>
