<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
  <a href="<%= posts_path(@user) %>">
    <strong class="stat">
      <%= @user.followers.count %>
    </strong>
    posts
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong class="stat">
      <%= @user.followers.count %>
    </strong>
    keeps
  </a>
  <% if logged_in? && current_user.stylist? %>
    <a href="<%= post_scomments_path(@user) %>">
      <strong class="stat">
        <%= @current_user.scomments.count %>
      </strong>
      stylings
    </a>
    <a href="<%= followers_user_path(@user) %>">
      <strong class="stat">
        <%= @user.followers.count %>
      </strong>
      stars
    </a>
  <% end %>
</div>
