
<!-- Stats -->
<% @user ||= current_user %>

<div class="two ui basic small buttons">

  <div class="ui button">
    <strong class="stat">
      <%= @user.following.count %><br>
      <%= link_to "following", following_user_path(current_user) %><br>
      <i class="icon user"></i>
    </strong>
  </a>
</div>

<div class="ui button">
  <strong class="stat">
    <%= @user.followers.count %><br>
    <%= link_to "followers", followers_user_path(current_user) %><br>
    <i class="icon user"></i>
  </strong>
</a>
</div>

</div>

<div class="two ui basic small buttons">

<div class="ui button">
  <strong class="stat">
    <%= @user.posts.count %><br>
    <%= link_to "posts", posts_path(current_user) %><br>
    <i class="mail icon"></i>
  </strong>
</a>
</div>

<div class="ui button">
  <strong class="stat">
    <%= @user.favorite_scomments.count %><br>
    <%= link_to "favorites", favorites_path(current_user) %><br>
    <i class="heart icon"></i>
  </strong>
</div>

</div>

<% if logged_in? && current_user.stylist? %>
<div class="two ui basic green tiny buttons">

<div class="ui button">
  <strong class="stat">
    <%= @user.posts.count %><br>
    <%= link_to "Styling List", got_path %><br>
    <i class="mail icon"></i>
  </strong>
</a>
</div>

<div class="ui button">
  <strong class="stat">
    <%= @user.rating_scomments.count %><br>
    Stars<br>
    <i class="star icon"></i>
  </strong>
</div>

</div>

<div class="ui green basic button">
  <%= link_to "To Stylist Analysis Page", stylistanalysis_path %>
</div>

<% end %>
