<% @user ||= current_user %>

  <div class="ui card">


    <div class="userimg">
      <div class="image">

        <!-- コーナーラベル：　スタイリストならステータスと共に変わる。 -->
        <% if logged_in? && current_user.stylist? %>
          <a class="ui green left corner label">
            <i class="heart icon"></i>
          </a>
        <% end %>

        <!-- プロフィール写真 -->
          <% if @user.picture %>
            <%= image_tag @user.picture.url %>
          <% end %>

          <%= link_to image_tag("stylatte_50.png", alt: "STYLATTE"), root_path %>

        <!-- アバター -->
        <span>
          <%= link_to gravatar_for(current_user, size: 70), current_user %>
        </span>

      </div>
    </div>


    <div class="content">
      <div class="header">
        <%= current_user.name %>
      </div>
      <div class="description">
        <%= current_user.bio %>
      </div>
      <div class="right floated description">
        <%= current_user.website %>
      </div>

    </div>
    <div class="extra content">
      <% if logged_in? %>
      <span class="right floated">
        <%= link_to "Edit profile", edit_user_path(current_user) %>
      </span>
      <% end %>
    </div>
  </div>
