<% @user ||= current_user %>

  <div class="ui card">

<!-- プロフィール写真がまだないとき 、背景つくれなかった。-->
    <div class="image">
      <!-- コーナーラベル：　スタイリストならステータスと共に変わる。 -->
        <% if logged_in? && current_user.stylist? %>
          <a class="ui green left corner label">
            <i class="heart icon"></i>
          </a>
        <% end %>

        <!-- プロフィール写真 -->
          <% if @user.picture.present? %>
            <%= image_tag @user.picture.url %>
          <% else %>
          <%= image_tag("stylatte_50.png", alt: "STYLATTE") %>
          <% end %>
    </div>


    <div class="content">
      <div class="header">
        <%= current_user.name %>
      </div>
      <div class="description">
        <%= current_user.bio %>
      </div>
      <div class="right floated description">
        <%= current_user.website %>
      </div>
      <% if logged_in? && current_user.public? %>
      <% else %>
      <span class="right floated">
          非公開中
      </span>
      <% end %>
    </div>
    <div class="extra content">
      <!-- ユーザーの詳しい情報 -->
            Country / <%= @user.country %><br>
            Gender / <%= @user.gender %><br>
            Height / <%= @user.height %><br>
            Size / <%= @user.size %><br>
            Age / <%= @user.age %><br>
            Hair style / <%= @user.hair_style %><br>
            Hair Color / <%= @user.hair_color %><br>
            Eyes Color / <%= @user.eyes_color %>

            <span class="right floated">
              <%= link_to "Edit profile", edit_user_path(current_user) %>
            </span>
    </div>



<% if logged_in? %>
    <div class="content">
      <span class="left floated">
        <i class="idea icon"></i>
        <%= link_to "Got Stylings", got_path %>
      </span>
    </div>
<% end %>

  </div>
