<div class="ui segment">
User_infoページスタート＞＞
<%= current_user.name %>
<%= link_to gravatar_for(current_user, size: 100), current_user %>
<%= link_to "Edit profile", edit_user_path(current_user) %>
<% if logged_in? && current_user.stylist? %>
<%= link_to "See My StylingBook", current_user %>
<p>Sent<%= @current_user.scomments.count %> styling comments!</p>
<p>Now <%= @current_user.scomments.count %> stars got!</p>
<% end %>
＜＜User_infoページおわり
</div>
