posts/_postページ＞＞

<li id="post-<%= post.id %>"></li>


<div class="ui feed">

  <div class="event">
    <div class="label">
      <%= link_to gravatar_for(post.user, size: 50), post.user %>
    </div>
    <div class="content">
      <div class="date">
        <%= time_ago_in_words(post.created_at) %> ago
      </div>

      <a><%= link_to post.user.name, post.user %></a>

      <div class="ui segment">
        <%= post.content %><br>
      </div>
      <div class="extra images">
        <a><%= image_tag post.picture.url if post.picture? %></a>
      </div>
    </div>

  </div>

<!-- スタイリングを送る -->
    <% if logged_in? && current_user.stylist? %>
          <div class="summary">
            <h4>
            <i class="pencil icon"></i>
            <%= link_to 'Send Styling to this Post!', post %>
            </h4>
          </div>
    <% end %>

<!-- コメント数表示 & もらったスタイリングコメントへのリンク-->
  <div class="summary">
    <i class="idea icon"></i>
    <%= post.scomments.count %>
    <%= link_to 'Stylings', post %>
  </div>

<!-- このポストを削除する -->
  <div class="summary">
    <% if current_user?(post.user) %>
        <i class="trash icon"></i>
        <%= link_to "Delete Post", post, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </div>




  <div class="ui divider"></div>

</div>
