
<h1>Send New Post!</h1>

<%= form_for(@post, html: { multipart: true }) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="ui form">
      <div class="field">
        <label>Post Content</label>
        <%= f.text_area :content, placeholder: "I need a ...", rows:"2" %>
      </div>
  </div>

  <span class="picture">
    <i class="photo icon"></i>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>

  <div class="ui divider"></div>


  <!-- ポストの詳細選ぶ（アコーディオン）必ずulは入れること（custom.cssにて操作中）-->
  <div class="acodmenu">

    <!-- 閉まっているときの表示 -->
    <label for="Panel13">
            <div class="active title">
              <i class="dropdown icon"></i>
              Optional Details
            </div>
    </label>

    <input type="checkbox" id="Panel13" class="on-off" />

    <!-- 開いたときの内容 -->
    <ul>
        <!-- 各種ボタン -->
        <div class="content field">

          <!-- ラジオボタン（複数選択不可） -->
          <div class="ui form item">

            <div class="grouped inline fields">


              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="size" value="small">
                  <label>Small</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="size" value="medium">
                  <label>Medium</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="size" value="large">
                  <label>Large</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="size" value="x-large">
                  <label>X-Large</label>
                </div>
              </div>
              <div class="ui checkbox">
                <input type="checkbox" name="fun">
                <label>I enjoy having fun</label>
              </div>



            </div>

          </div>



          <!-- チェックボタン（　複数選択可 ） -->
            <div class="ui form item">
              <div class="grouped inline fields">

                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="small">
                    <label>Red</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="medium">
                    <label>Orange</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="large">
                    <label>Green</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="x-large">
                    <label>Blue</label>
                  </div>
                </div>

              </div>
            </div>


          </div>

        <!-- トグルボタン -->
        <div class="ui toggle checkbox">
          <input type="checkbox" name="pet">
          <label>Set to Private</label>
        </div>


    </ul>
    <!-- 開いたときの内容おわり   -->

  </div>


<div class="ui divider"></div>


  <%= f.submit "SEND", class: "ui basic blue button" %>


<% end %>




<script type="text/javascript">
  $('#post_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
