posts/_postページ＞＞

<div class="ui feed">

  <div class="event">

    <div class="content">

      <!-- 名前＆アバター -->
      <a><%= link_to post.user.name, post.user %></a>
      <div class="ui avatar image">
        <%= link_to gravatar_for(post.user, size: 50), post.user %>
      </div>


        <!-- 日時 -->
        <div class="date">
          <%= time_ago_in_words(post.created_at) %><%= t '_post.ago' %>
        </div>

      <div class="ui segment">

        <!-- ポスト　コンテント -->
        <%= post.content %><br>
        <!-- ポストイメージ -->
        <div class="extra images">
          <a><%= image_tag post.picture.url if post.picture? %></a>
        </div>

        <!-- ポストしたユーザーのみ見れるリンク -->
        <% if current_user?(post.user) %>
            <!-- このポストを詳しくみる -->
                <i class="search icon"></i>
                <%= link_to '詳細', post %>
            <!-- このポストを削除する -->
                <i class="trash icon"></i>
                <%= link_to "削除", post, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>

      </div>

    </div>

  </div>



<!-- コメント数表示 & もらったスタイリングコメントへのリンク-->

  <div class="ui large blue label">
    <i class="idea icon"></i>
    <%= post.scomments.count %>
    <a class="detail"><%= link_to 'スタイリング', post %></a>
  </div>
<!-- スタイリングを送る -->
<% if logged_in? && current_user.stylist? %>

  <div class="ui middle green basic button">
          <div class="summary">
            <i class="pencil icon"></i>
            <%= link_to 'Suppose Styling', post %>
          </div>
  </div>
<% end %>


  <div class="ui divider"></div>

</div>
