＞＞posts/_postページはじまり。
<div class="ui segment">

<li id="post-<%= post.id %>"></li>
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <%= link_to post.user.name, post.user %><br>
  <div class="ui segments">
    <div class="ui segment">
      <%= post.content %><br>
    </div>
  <%= image_tag post.picture.url if post.picture? %><br>
  <span>Posted <%= time_ago_in_words(post.created_at) %> ago.</span>
  <!-- このポストを削除する -->
      <% if current_user?(post.user) %>
          <i class="trash icon"></i>
          <%= link_to "Delete Post", post, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
  </div>
<!-- コメント数表示 & もらったスタイリングコメントへのリンク-->
  <span>
    <i class="idea icon"></i>
    <%= post.scomments.count %>
    <%= link_to 'Stylings', post %>
  </span>
<!-- スタイリングを送る -->
  <% if logged_in? && current_user.stylist? %>
    <span>
      <i class="reply icon"></i>
      <%= link_to 'Send Styling to this Post!', post %>
    </span>
  <% end %>




</div>
