＞＞posts/_postページはじまり。

<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <%= link_to post.user.name, post.user %>
  <%= post.content %>
  <%= image_tag post.picture.url if post.picture? %>
  <%= time_ago_in_words(post.created_at) %> ago.

  <% if current_user?(post.user) %>
  <%= link_to "Delete this post", post, method: :delete,
  data: { confirm: "You sure?" } %>
  <% end %>
</li>


<% if logged_in? && current_user.stylist? %>
<%= link_to 'Send Styling!', post %>
<% else %>
<p>You have <%= post.scomments.count %> stylings!</p>
<%= link_to 'See Details', post %>
<% end %>

＜＜posts/_postページおわり。
