＜＜posts/showページはじまり。

<h1><%= t 'views.posts.show.My posts' %></h1>

<div class="ui card">
  <h4>~ 私の投稿内容 ~</h4>
  <%= @post.content %>

  <h4>~ このPostに対するコメント数 ~</h4>
  <%= @post.scomments.count %>
</div>

<% if current_user?(@post.user) %>
<%= render @post.scomments %>
<% end %>

<% if logged_in? && current_user.stylist? %>
<h1>Send Styling from here!</h1>
<%= render 'scomments/scomment_form' %>
<% end %>
