＜＜posts/showページはじまり。

<h1><%= t 'views.posts.show.My posts' %></h1>
<%= @post.content %>

<% if current_user?(@post.user) %>
<h1><%= t 'views.posts.show.You got Comment below!' %></h1>
<%= render @post.scomments %>
<% end %>

<% if logged_in? && current_user.stylist? %>
<h1>Send Styling from here!</h1>
<%= render 'scomments/scomment_form' %>
<% end %>
