
<h1>ポストShowページ</h1>

<%= @post.content %>

<!-- simple_formatヘルパーメソッドこれは、改行などを認識して表示するメソッドです。 -->
<h2>コメント一覧</h2>
<% @post.scomments.each do |scomment| %>
<p>
<%= simple_format scomment.content %>
</p>
<% end %>

<!-- コメントは、ポストにネストさせているので、form_forでもネスト。/posts/1/commentsのようなルートを作成します。 -->
<li>
<h2>コメント投稿欄:</h2>
<%= form_for( [@post, @post.scomments.build] ) do |f| %>
  <div class="field">
  <%= f.label :content %><br />
  <%= f.text_area :content %>
  </div>
  <div class="actions">
  <%= f.submit %>
  </div>
<% end %>
</li>
