<!DOCTYPE html>
<html>


  <head>

    <title>Stylatte</title>

<!-- turbolinks読み込み -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!-- ？ -->
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
<!-- jQueryの読み込み -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<!-- semanticUI読み込み -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

  </head>



  <body>

<%= render 'layouts/header' %>
<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>


<%= yield %>


<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>

  </body>

</html>
